footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  line-height: 50px;
  color: #ffffff;
  font-size: 25px;
  background-color: #e91e63;
  min-height: 50px;
}
