<mat-card>
  <mat-card-header class="menu-header">
    <mat-card-title>{{isVegSelected ? 'Veg Menu':'Non-Veg Menu'}}</mat-card-title>
    <img class="menu-icon mr-10" [src]="isVegSelected ? './assets/images/veg.png' :'./assets/images/non-veg.png'" />
    <mat-slide-toggle [checked]="isVegSelected"
                      (change)="isVegSelected = !isVegSelected">
    </mat-slide-toggle>
  </mat-card-header>
  <mat-card-content>
    <table>
      <ng-container *ngIf="isVegSelected">
        <tr *ngFor="let item of vegMenuItems">
          <td><span>{{item.name}}</span></td>
          <td>
            <div class="counter">
              <label (click)="decreaseCount(item)">-</label>
              {{item.counter}}
              <label (click)="increaseCount(item)">+</label>
            </div>
            <span>{{item.price}}</span>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="!isVegSelected">
        <tr *ngFor="let item of nonVegMenuItems">
          <td><span>{{item.name}}</span></td>
          <td>
            <div class="counter">
              <label (click)="decreaseCount(item)">-</label>
              {{item.counter}}
              <label (click)="increaseCount(item)">+</label>
            </div>
            <span>{{item.price}}</span>
          </td>
        </tr>
      </ng-container>
    </table>
    <div class="order-container" [ngClass]="isVegSelected ? 'mt-170':'mts-50'">
      <a class="order-btn" href="{{messageToSend}}"
         (click)="placeOrder()"
         [target]="messageToSend==='#' ? '_self' : '_blank'">Place Order</a>
    </div>
    <div class="contact-us">
      <p>Contact Detail<strong>: +91 8758833454</strong></p>
      <p><em>***Incase of failing in placing order contact us directly</em></p>
      <p><strong>***Note: Please Order 12 Hours before or 1 Day before </strong></p>
      <p class="follow-us"><strong>Follow Us On</strong></p>
      <p><a href="https://www.instagram.com/aroma_kitchens/"><i class="fa fa-instagram" style="font-size:48px;color:#e91e63"></i></a></p>
    </div>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
