mat-card {
  min-height: 800px;
}

.counter {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.counter label {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
  cursor: pointer;
}

.counter label:hover, label:active {
  font-size: 21px;
  color: gray;
}

.menu-header {
  display: flex;
  justify-content: center;
}

.order-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.order-btn {
  border-radius: 5px;
  min-height: 40px;
  line-height: 36px;
  background-color: #e91e63;
  color: #ffffff;
  min-width: 250px;
  text-decoration: none;
}

.menu-icon {
  height: 20px;
  width: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.veg-menu {
  color: green;
}

.non-veg-menu {
  color: #B8340D;
}

table {
  width: 90%;
  margin: 100px auto;
  table-layout: fixed;
  border-collapse: collapse;
}

td {
  padding: 1em 0 0 0;
  vertical-align: bottom;
  background-image: radial-gradient(black 1px, white 0px);
  background-size: 8px 8px;
  background-repeat: repeat-x;
  background-position: left bottom;
}

td span {
  background-color: #fff;
}

td:first-child {
  text-align: left;
  font-weight: 700;
}

td:first-child span {
  padding-right: .25em;
}

td:last-child {
  text-align: right;
  width: 3em;
}

td:last-child span {
  padding-left: .25em;
}
