<mat-card>
  <mat-card-header class="menu-header">
    <mat-card-title>{{isVegSelected ? 'Veg Menu':'Non-Veg Menu'}}</mat-card-title>
    <img class="menu-icon mr-10" [src]="isVegSelected ? './assets/images/veg.png' :'./assets/images/non-veg.png'" />
    <mat-slide-toggle [checked]="isVegSelected"
                      (change)="isVegSelected = !isVegSelected">
    </mat-slide-toggle>
  </mat-card-header>
  <mat-card-content>
    <table>
      <ng-container *ngIf="isVegSelected">
        <tr *ngFor="let item of vegMenuItems">
          <td><span>{{item.name}}</span></td>
          <td><span>{{item.price}}</span></td>
        </tr>
      </ng-container>
      <ng-container *ngIf="!isVegSelected">
        <tr *ngFor="let item of nonVegMenuItems">
          <td><span>{{item.name}}</span></td>
          <td>
            <!--<button mat-raised-button>add</button>-->
            <span>{{item.price}}</span>
          </td>
        </tr>
      </ng-container>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <div class="order-container">
      <a class="order-btn" href="https://wa.me/918758833454/?text=heek" target="_blank">Place Order</a>
    </div>
  </mat-card-actions>
</mat-card>
