/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: akFontStyle;
  src: url('./assets/fonts/Allura-Regular.ttf');
}

body {
  font-family: akFontStyle;
  font-size: 18px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ec437d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e91e63;
}
